@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Montserrat:wght@200&family=Open+Sans:wght@300&display=swap");

.txt-container {
  margin-top: 200px;
}

.about-container {
 
  margin-top: 20px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

p{
  padding-top: 10px;
  line-height: 2;
  
}

.ab-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.flip-card {
  background-color: transparent;
  border-radius: 30px;
  color: rgb(44, 43, 43);
  width: 250px;
  height: 280px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  border-radius: 30px;
  background-color: #242424;
  color: rgb(202, 197, 197);
}

.front-text{
  padding-top:40px;
  font-family: monospace;
}

.flip-card-back {
  padding-top: 3rem;
  border-radius: 30px;
  background-color: #4E9F3D;
  color: white;
  transform: rotateY(180deg);
}

.logo{
  padding-top: 20px;
}
