@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Montserrat:wght@200&family=Open+Sans:wght@300&display=swap");

.card {
  background-color: #242424 !important;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.card-title {
  padding-top: 15px;
  padding-left: 20px;
  color: white;
  font-family: monospace;
}

.h6-txt {
  color: #4e9f3d;
  padding-left: 20px;
}

.img-crd {
  margin-top: -150px;
  margin-bottom: -56px;
  float: right;
  height: 500px;
  width: 500px;
}

.para-txt {
  
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  width: 650px;
  letter-spacing: 1px;
  font-weight: 100;
}

.check-btn {
  border: none;
  border-radius: 25px;
  margin-left: 20px;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.check-btn:hover{
  background-color: #4e9f3d;
  color: white;
  transform: scale(1.1);
  transition: 0.3s;
}
